<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {{ title || '' }} - AdonisJS 6 Session Auth </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  {{{ await $slots.main() }}}
</body>
</html>
